:root {
    --primary-color:black;
    --secondary-color: antiquewhite;
    --accent1-color:#2A4849;
    --font-family: "Lato", Helvetica, sans-serif;
}

body {
    font-size: 20px;
    font-family: var(--font-family);
  }
  
.portfolioMainTitle{
    background-color:var(--accent1-color);
    padding: 1em;
  }